{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h2>Profile Page</h2>
    <div class="row">
        <div class="col-md-8 d-flex offset-2 mt-3">
            <div class="col-md-4 me-3">
                <div>
                    <div>
                        {% if "default_image" in member.profile_image.url %}
                        <img style="height:300px; width: 300px; border-radius: 50%; object-fit: cover; object-position: center;"
                            src="{% static 'media/images/'%}" alt="default image">
                        {% else %}
                        <img style="height:300px; width: 300px; border-radius: 50%; object-fit: cover; object-position: center;"
                        src="{{user.member.profile_image.url}}" alt="Profile image">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 ms-3">
                <div class="card">
                    <div class="card-body">
                        <h2>{{ user.username }}</h2>
                        <hr>
                        <p>Name: {{member.first_name}} {{member.last_name}}</p>
                        <p>Email: {{member.email}}</p>
                        <hr>
                        <p>Description: {{member.description}}</p>
                        <button class="btn btn-danger"><a class="edit-button" href="{% url 'members:edit_profile' %}">Edit</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}